{% extends 'base.html' %}

{% block content %}

<h1>Search and add new ingredient to {{ cocktail.name }}</h1>

<form method="GET" action="/cocktails/{{ cocktail.id }}/add-ingredients">

  <div class="form-group row mt-3">
    <label for="ingredient-search" class="col-sm-2">Search New Ingredients</label>
    <div class="col-sm-10">
      <input class="form-control" id='ingredient-search' type="text" name="ingredient" placeholder="Add ingredients to your cocktail">
    </div>
 
  </div>


  <button class="btn btn-primary" ingredient-search">Search Ingredients</button>
</form>

<h3>Results found</h3>

<div>
  {% print(dataj) %}
</div>


{% endblock %}