{% extends 'base.html' %}

{% block content %}


  <h4>Cocktail: <b>{{ cocktail.name }}</b></h4>

{% if cocktail.ingredients %}
<div class="ingredient-results">
  {% for ingredient in cocktail.ingredients %}
  <div class="ingredient-result">
    <div>
      <span class=""><strong>{{ ingredient.id }}</strong><br>
      </span> by {{ ingredient.names }}
      <small>{{ingredient.name}}</small><br>
      <span>{{ingredient.cocktail_name}}</span><br>
      <img class="cocktail-image" src="{{ingredient.cocktail_image}}" />
    </div> 
    <form class="remove-button" method="POST">
    <input type="hidden" name="remove" value="true" />
    <input type="hidden" name="ingredient" value="{{ingredient.id}}" />
    <input type="submit" name='submit' value="Remove from Cocktail" />
    </form>
</div>
  {% endfor %}
</div>
{% else %}
<p>There are no ingredients yet in this cocktail, add some!</p>
{% endif %}

<p>
  <a class="btn btn-primary" href="/cocktails/{{ cocktail.id }}/search">
    Add Ingredients to this cocktail
  </a>
</p>

{% endblock %}