{% extends "base.html" %}

{% block content %}
<h2>Add Cocktail</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }}<br>
        {{ form.name }}
    </div>

    <div>
        <h3>Ingredients</h3>
        {% for ingredient_form in form.ingredients %}
        <div>
            {{ ingredient_form.ingredient.label }} {{ ingredient_form.ingredient }}
            {{ ingredient_form.quantity.label }} {{ ingredient_form.quantity }}
        </div>
        {% endfor %}
    </div>

    <div>
        {{ form.instructions.label }}<br>
        {{ form.instructions }}
    </div>

    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}