{% extends "base.html" %} 
{% block content %}

<div class="profile">
  <h2>Profile</h2>
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <form method="POST">
      <label for="preference">Drink Preference: </label>
      <select name="preference" id="preference">
          <option value="alcoholic" {% if user.preference == 'alcoholic' %}selected{% endif %}>Alcoholic</option>
          <option value="non-alcoholic" {% if user.preference == 'non-alcoholic' %}selected{% endif %}>Non-Alcoholic</option>
      </select>
      <button type="submit">Save Preference</button>
  </form>
  <p>Preference: {{ user.preference }}</p>
</div>

{% endblock %}