{% extends "base.html" %} 

{% block content %}

<div class="navbar">
  <a href="{{ url_for('homepage') }}">Return to Homepage</a>
</div>

<div class="profile">
  <h2>Profile</h2>
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  
  <form method="POST">
    {{ preference_form.csrf_token }}
    {{ preference_form.preference.label }} {{ preference_form.preference() }}
    <button type="submit" name="submit_button" value="Save Preference">Save Preference</button>
  </form>
  <p>Preference: {{ user.preference or 'Not Set' }}</p>
  
  <form method="POST">
    {{ ingredient_form.csrf_token }}
    {{ ingredient_form.ingredient.label }} {{ ingredient_form.ingredient() }}
    <button type="submit" name="submit_button" value="Add Ingredient">Add Ingredient</button>
  </form>
  <p>Favorite Ingredients:</p>
  <ul>
    {% for ingredient in user_favorite_ingredients %}
      <li>{{ ingredient.name }}</li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
